
.parent{
  width:100vw;
  height:20rem;
  background-color:yellow;
  .child1{
    width:100%;
    background-color:red;
    padding:2rem;
    height:fit-content;
    .child2{
      width:100%;
      background-color:blue;
      height:fit-content;
    }
  }
}